#navMysite{
    font-weight: bold;
}
#logo{
    width: 45px;
    padding-right: 10px;
}
#arrow{
    width: 18px;
    padding-left: 5px;
    padding-bottom: 5px;
}
#sun{
    width: 25px;
    padding-left: 5px;
    padding-bottom: 3px;
    position: relative;
    left: 45px;
}
.SunArrow{
    position: absolute;
    right: 60px;
}
@media screen and (max-width: 990px) {
    #sun{
        position: relative;
        left: 0px;
    }
    .SunArrow{
        position: relative;
        right: 0px;
    }
}